.like__btn{
  background: none;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.heart{
  fill-rule: evenodd;
  fill: $colorText;
  transition-duration: 500ms;
  transition-property: fill;

  &:hover{
    fill:$red;
  }

}

.like__counts{
  font-size: 11px;
  font-family: "Roboto Condensed Light";
  color: $red;
  text-transform: uppercase;
  line-height: 1.091;
  margin: 5px 0 0 0;
  display: block;

  @media (min-width: 1500px) {
    @include dynamicText(68.75%, 22, 11, 1500px, 3000, 1500);
  }

}